@media (min-width: 768px) {
	/* Horizontal Bar */
	.sg-b-h {
		position: fixed !important;
		z-index: 9999;
		background-color: rgba(38, 38, 38, 0.95) !important;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		-webkit-box-shadow: 0 0 11px #555555 !important;
		-moz-box-shadow: 0 0 11px #555555 !important;
		box-shadow: 0 0 11px #555555 !important;

		//@media (min-width: 768px) {
		width: 50%;
		right: 25%; // Center
		//}
	}

	/* Close button */
	.sg-d-h a {
		font-size: 30px;
	}

	/* Popup */
	.sg-b-p {
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
		position: fixed !important;
		//padding: 0 !important;
		//background-color: transparent !important;

		//@media (min-width: 768px) {
		max-height: 80%;
		width: 50%;
		right: 25% !important;
		//}
	}

	/* IFrame */
	.sg-b-p-i {
	}

	/* Overlay/Mask */
	.sg-b-p-m {
	}

}

